@font-face {
    font-family: primeWavesFont;
    src: url(resources/fonts/Malvie.otf);
}

body {
    background: #343434;
    max-width: 500px;
    margin: 0 auto;
}


h1 {
    text-align: center;
    font-family: primeWavesFont;
    font-size: 6vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    background: linear-gradient(180deg, #A189A8 0%, #95B8BE 26.56%, #ACC4B7 34.38%, #DBB892 53.13%, #EAA282 69.79%, #E9877B 87.50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.featured-track {
    margin-bottom: 2rem;
    -ms-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

.button-links {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
}

.filter {
    background: linear-gradient(180deg, #A189A8 0%, #95B8BE 26.56%, #ACC4B7 34.38%, #DBB892 53.13%, #EAA282 69.79%, #E9877B 87.50%);
    mix-blend-mode: darken;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    pointer-events: none;
}

a {
    color: #FFF;
    border-radius: 29px;
    border: 4px solid #FFF;
    width: 75%;
    height: 40px;
    flex-shrink: 0;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: normal;
    margin: 10px 0;
}

a h2 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    width: 70%;
}

a img {
    margin-left: 1.25rem;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 15vw;
        margin-bottom: 2.2rem;
    }

    .featured-track {
        margin-bottom: 2.5rem;
        margin-top: 2.5rem;
    }

    a {
        height: 50px;
    }

    a img {
        height: 40px;
        width: 40px;
    }
}